.wrapper {
    display: flex;
    justify-content: center;

    height: 100vh;
    width: auto;
}

.calculator-body {
    display: flex;
    flex-flow: column wrap;

    margin-top: 15px;
    height: 500px;
    width: 425px;
    border: black solid 3px;
    border-radius: 5%;
    padding: 6px;
}

/*---------Styling Inside The Calculator---------*/

.number-display {
    flex: auto;
    height: 50px;
    border: solid black 2px;
}

.input-wrapper {
    display: flex;
    flex-flow: row wrap;

    flex: auto;
    flex-grow: 10;
}

/* Keypad Styling */

.keypad-wrapper {
    display: flex;
    flex-flow: row wrap;
    padding: 20px;
    gap: 4px;

    flex: auto;
    width: 100px;
    border: solid black 2px;
}

.keypad-wrapper > * {
    flex: auto;
    flex-basis: 75px;
}

.keypad-zero-wrapper {
    display: flex;
    justify-content: center;
}

.keypad.zero {
    width: 96px;
}

/* Equation Buttons Styling */

.equation-clear-wrapper {
    display: flex;
    flex-flow: column;
}

.equation-container {
    flex: auto;
    height: 100px;
    width: 100px;
    border: solid black 2px;
}
